---
platform: linux

inputs:
  - name: bosh-deployment
  - name: concourse-infra-for-fiwg
  - name: director-creds
  - name: director-state
  - name: jumpbox-creds
  - name: terraform

outputs:
  - name: director-creds
  - name: director-state

params:
  GCP_CREDENTIALS_JSON:
  ADDITIONAL_OPS_FILES:

run:
  path: concourse-infra-for-fiwg/ci/tasks/deploy-bosh-director/director-create-env-gcp.sh
