---
platform: linux

inputs:
  - name: concourse-infra-for-fiwg
  - name: jumpbox-creds
  - name: jumpbox-deployment
  - name: jumpbox-state
  - name: terraform

outputs:
  - name: jumpbox-creds
  - name: jumpbox-state

params:
  GCP_CREDENTIALS_JSON:

run:
  path: concourse-infra-for-fiwg/ci/tasks/deploy-jumpbox/jumpbox-create-env-gcp.sh
