---
platform: linux

inputs:
  - name: bosh-deployment
  - name: concourse-infra-for-fiwg
  - name: creds
  - name: vars
    optional: true
  - name: terraform
    optional: true

outputs:
  - name: creds

params:
  ROTATE_DIRECTOR: false
  EXTERNAL_IP: false

run:
  path: concourse-infra-for-fiwg/ci/tasks/cert-rotation/rotate-certs.sh
