---
platform: linux

inputs:
  - name: concourse-infra-for-fiwg

outputs:
  - name: concourse-creds-source

params:
  CREDHUB_CLIENT:
  CREDHUB_SECRET:
  CREDHUB_SERVER:
  CREDHUB_CA_CERT:
  JUMPBOX_PRIVATE_KEY:
  JUMPBOX_USERNAME:
  JUMPBOX_URL:
  WEB_IP:

run:
  path: concourse-infra-for-fiwg/ci/tasks/deploy-concourse/create-concourse-creds-source.sh
