---
platform: linux

inputs:
  - name: concourse-infra-for-fiwg

outputs:
  - name: paused-pipelines

params:
  CONCOURSE_URL:
  CONCOURSE_USERNAME: ((concourse_ci_user.username))
  CONCOURSE_PASSWORD: ((concourse_ci_user.password))
  EXCLUDE_PIPELINE: ""
  TEAMS:

run:
  path: concourse-infra-for-fiwg/ci/tasks/deploy-concourse/pause-all-pipelines.sh
