---
platform: linux

inputs:
  - name: concourse-infra-for-fiwg
  - name: paused-pipelines

params:
  CONCOURSE_URL:
  CONCOURSE_USERNAME: ((concourse_ci_user.username))
  CONCOURSE_PASSWORD: ((concourse_ci_user.password))

run:
  path: concourse-infra-for-fiwg/ci/tasks/deploy-concourse/unpause-all-pipelines.sh
