---
platform: linux

inputs:
  - name: concourse-infra-for-fiwg

params:
  CONCOURSE_URL:
  CONCOURSE_USERNAME: ((concourse_ci_user.username))
  CONCOURSE_PASSWORD: ((concourse_ci_user.password))
  IGNORE_JOB: ""

run:
  path: concourse-infra-for-fiwg/ci/tasks/deploy-concourse/wait-for-concourse-drain.sh
